body {
    font-family: Arial, sans-serif;
    height: 100%;
    background-color: #f8f9fa;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    /* Cool background-color */
    background-color: #e0a500;
    color: white;
    padding: 10px 0;
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.header-container h1 {
    margin: 0;
    font-size: 28px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #218838;
}

img {
    width: 100px;
    margin-bottom: 20px;
}

svg {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

img.big {
    width: 250px;
    margin-bottom: 20px;
}